#test {
	background-color: #5BC98C;
	margin-bottom: 0px;
	border-radius: 0px;
}

#navigation {
	background-color: #57778B;
}

#navigation a {
	background-color: #57778B;
}

#navigation a.active {
        background-color: #FFFF9D;
}

#navigation a:hover {
        background-color: #FFFF9D;
	color: black; 
}

.nav-link {
	color: white;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
	color: black;
}

.main {
	background-color:#e1e6ef;
}

#bottom {

	background-color: red;
}


#examples{
	margin-left: 10px;
	margin-right: 10px;
  	border-radius: 5px;
  	border-top: 1px dotted red;
}	

#section{
	margin-left: 10px;
	margin-right: 10px;
  	border-top: 10px double black;
}